
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</span>
				<span class="logo-title">oOmi</span>
			</a>
		</div>
		<div class="contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:88598566756" class="link-phone">+7 (859) 856 67 56</a>
			</div>
			<div class="callback-wrap">
				<a href="" class="btn">Свяжитесь с нами</a>
			</div>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"><span></span></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="">Услуги</a>
							<ul>
								<li><a href="">Аутсорсинг и техподдержка</a></li>
								<li><a href="">Разработка и дизайн</a></li>
								<li><a href="">Реклама и продвижение</a></li>
							</ul>
						</li>
						<li><a href="">Кейсы</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">О нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="contacts-wrap">
					<div class="phone-wrap">
						<a href="tel:88598566756" class="link-phone">+7 (859) 856 67 56</a>
					</div>
					<div class="callback-wrap">
						<a href="" class="btn">Свяжитесь с нами</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->